<html>
<head><title>Contact</title>






    <meta http-equiv="X-UA-Compatible" content="IE=edge">



    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->



    <meta name="description" content="">



    <meta name="author" content="">









    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css"  href="/static/mainpage/cover2.css">
</head>
<div class="site-wrapper">



      <div class="site-wrapper-inner">



        <div class="cover-container">



          <div class="masthead clearfix">

            <div class="inner">

              <h3 class="masthead-brand">Contact</h3>

              <nav>

                <ul class="nav masthead-nav">

                  <li><a href="{% url 'mainpage:mainpage' %}">Home</a></li>


                  <li class="active"><a href="#">Contact</a></li>

                </ul>

              </nav>

            </div>

          </div>



          <div class="inner cover">

            <h1 class="cover-heading">Contact</h1>

<img src='/static/images/contact.jpg'/ height='450' width='319'>

<address>



  <strong>杨 晓葵</strong><br>



  <a href="mailto:#">williamyang0211@outlook.com</a>



</address>
</div>


          <div class="mastfoot">

            <div class="inner">

              <p>Powered By <a href="http://getbootstrap.com">Bootstrap</a> and Django.</p>

            </div>

          </div>



        </div>



      </div>



    </div>



</html>
